<div class="col-md-4">
  {{account-select-component rootAccount=rootAccount}}
</div>
<div class="col-md-3">
  <div class="input-group">
    <div class="input-group-addon">$</div>
    {{input value=debit disabled=debitDisabled class="form-control"}}
  </div>
</div>
<div class="col-md-3">
  <div class="input-group">
    <div class="input-group-addon">$</div>
    {{input value=credit disabled=creditDisabled class="form-control"}}
  </div>
</div>
