<form>
  <div class="row">
    <div class="col-md-2 form-group">
      <label for="transaction-date" class="control-label">Date</label>
      {{bs-datetimepicker date=occurredOn}}
    </div>
  </div>
  <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="transaction-description" class="control-label">Description</label>
          <textarea class="form-control" id="transaction-description"></textarea>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-2">
        <label class="control-label">Account</label>
      </div>
      <div class="col-md-2">
        <label class="control-label">Debit</label>
      </div>
      <div class="col-md-2">
        <label class="control-label">Credit</label>
      </div>
  </div>
  {{#each entries as |entry|}}
    <div class="row form-group">
        {{entry-component entry=entry rootAccount=rootAccount}}

        <!--
        {{#if entry.last}}
          <div class="col-md-1">
            <button {{action "addEntry"}} type="button" class="btn btn-default" aria-label="Add entry">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </div>
        {{/if}}
        -->
    </div>
  {{/each}}

  <div class="form-group">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button {{action "post"}} type="button" class="btn btn-primary">Post transaction</button>
  </div>
</form>
