<!-- select2: http://jsfiddle.net/7573va8p/17/ -->

<div class="modal" id="newTransactionModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Transaction</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-5 form-group">
              <label for="transaction-date" class="control-label">Date</label>
              {{bs-datetimepicker date=occurredOn}}
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="transaction-description" class="control-label">Description</label>
                  <textarea class="form-control" id="transaction-description"></textarea>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                <label class="control-label">Account</label>
              </div>
              <div class="col-md-3">
                <label class="control-label">Debit</label>
              </div>
              <div class="col-md-3">
                <label class="control-label">Credit</label>
              </div>
          </div>
          {{#each entries as |entry|}}
            <div class="row form-group">
                {{entry-component rootAccount=rootAccount}}

                {{#if entry.last}}
                  <div class="col-md-1">
                    <button {{action "addEntry"}} type="button" class="btn btn-default" aria-label="Add entry">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                  </div>
                {{/if}}
            </div>
          {{/each}}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button {{action "post"}} type="button" class="btn btn-primary">Post transaction</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->
