/*html, body {
  height:100%;
}*/

/* http://cssdeck.com/labs/pure-css-tree-menu-framework */

/**
 * Framework starts from here ...
 * ------------------------------
 */

.tree,
.tree ul {
  margin:0;
  padding:0;
  list-style:none;
}

.tree ul {
  margin-left:1em; /* indentation */
  position:relative;
}

.tree ul ul {margin-left:.5em} /* (indentation/2) */

.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}

.tree li {
  margin:0;
  padding:0 1.5em; /* indentation + .5em */
  line-height:2em; /* default list item's `line-height` */
  color:#369;
  font-weight:bold;
  position:relative;
  white-space: nowrap;
}

.tree li a {
  outline: none;
}

.tree li a.active {
  color: #fff;
  background-color: #369;
  text-decoration: none;
  outline: none;
}

.tree ul li:before {
  content:"";
  display:block;
  width:10px; /* same with indentation */
  height:0;
  border-top:1px solid;
  margin-top:-1px; /* border top width */
  position:absolute;
  top:1em; /* (line-height/2) */
  left:0;
}

.tree ul li:last-child:before {
  background:#fff; /* same with body background */
  height:auto;
  top:1em; /* (line-height/2) */
  bottom:0;
}

.select2-container.form-control {
  display: inline-block;
}

#account-tree {
  background-color: #ccc;
  position: fixed;
  height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
}
