<button class="btn btn-primary" {{action "showTransactionModal"}}>
  New transaction
</button>

<h3>{{model.account.name}} entries</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Transfer</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.entries as |entry|}}
      <tr>
        <td>
          {{entry.occurredOn}}
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          {{entry.account.name}}
        </td>
        <td>
          {{entry.amount}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{transaction-modal-component show=showTransactionModal transaction=transaction rootAccount=(readonly model.rootAccount) post=(action "post") cancel=(action "cancel")}}
