<div class="row">
  <div class="col-sm-3 col-md-2" style="background-color: #ccc; position: fixed; top: 0; height: 100%; overflow-x: scroll; overflow-y: scroll; padding-top: 50px;">
    <ul class="tree">
      <li style="padding: 0;">
        {{partial 'account-tree'}}
      </li>
    </ul>
  </div>

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" style="background-color: #eee;">
    <h3>Transactions</h3>

    {{outlet}}
  </div>
</div>