<div class="row">
  <div id="account-tree" class="col-sm-3 col-md-2" style="padding-top: 20px;">
    <div class="panel panel-default">
      <div class="panel-heading">
        Accounts

        <button class="btn btn-primary btn-sm" {{action "showAccountModal"}}>
          New account
        </button>
      </div>
      <div class="panel-body">
        <ul class="tree">
          <li style="padding: 0;">
            {{render 'account-tree' model}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" style="margin-top: 20px;">
    {{outlet}}
  </div>
</div>

{{account-modal-component show=showAccountModal rootAccount=(readonly model)}}
