{{#link-to 'accounts.account.transactions' model.id}}{{model.name}}{{/link-to}}

<ul>
  {{#each account in model.children}}
    <li>
      {{render 'account-tree' account}}
    </li>
  {{/each}}
</ul>